/* Cubic Bezier Transition */
/***
Login page
***/
/* logo page */
.login {
  background-color: #666 !important; }

.login .logo {
  margin: 60px auto 20px auto;
  padding: 15px;
  text-align: center; }

.login .content {
  background: url(../img/bg-white-lock.png) repeat;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px; }

.login .content h3 {
  color: #eee; }

.login .content h4 {
  color: #eee; }

.login .content p,
.login .content label {
  color: #fff; }

.login .mt-checkbox > span:after {
  border-color: #eee; }

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px; }

.login .content .form-control {
  background-color: #fff; }

.login .content .forget-form {
  display: none; }

.login .content .register-form {
  display: none; }

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px; }

.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px; }

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px; }

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px; }

.login .content .form-actions .rememberme {
  margin-top: 8px;
  display: inline-block; }

.login .content .form-actions .btn {
  margin-top: 1px; }

.login .content .forget-password {
  margin-top: 25px; }

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px; }

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px; }

/* select2 dropdowns */
.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; }

.login .content .has-error .select2-container i {
  color: #b94a48; }

.login .content .select2-container a span {
  font-size: 13px; }

.login .content .select2-container a span img {
  margin-left: 4px; }

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #eee;
  font-size: 13px; }

.setup-password .form-title {
  font-size: 16px;
  margin-top: 0; }

.setup-password .content {
  width: auto;
  max-width: 760px;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px; }
  .setup-password .content .setup-password-note {
    color: #333;
    padding: 20px 15px; }
    .setup-password .content .setup-password-note p {
      color: #333;
      margin: 0; }
    .setup-password .content .setup-password-note .list-item {
      list-style: none;
      padding: 0;
      margin: 15px 0 0; }
      .setup-password .content .setup-password-note .list-item .each-item {
        margin-bottom: 15px;
        position: relative;
        padding-left: 25px; }
        .setup-password .content .setup-password-note .list-item .each-item:last-child {
          margin-bottom: 0; }
        .setup-password .content .setup-password-note .list-item .each-item .badge-success {
          background-color: #249987;
          position: absolute;
          top: 0;
          left: 0; }

.btn-ahalf-circle {
  border-radius: 0 5px !important; }

.text-uppercase {
  text-transform: uppercase; }

.btn-icon-right .fa {
  margin-left: 10px; }

.form-wellcome {
  color: #eee;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px; }

span.error {
  color: #e02222;
  font-size: 12px; }

.select2-selection--single.error, input.error {
  border: 1px solid #e02222 !important; }

.icon-check-lg {
  color: #249987;
  font-size: 52px;
  line-height: normal; }

.mb-0 {
  margin-bottom: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.modal-setup-password-complete .modal-body {
  padding: 30px 15px; }

.pl-0 {
  padding-left: 0 !important; }

.otp .content {
  margin-top: 217px;
  width: 435px; }

@media (max-width: 767px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px; }
  .login .content {
    padding: 20px;
    width: 95%; }
  .login .content h3 {
    font-size: 22px; }
  .login .checkbox {
    font-size: 13px; }
  .setup-password .content {
    margin-top: 30px; } }
