<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>{% block title %}  {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of GMEDES Htmlfor blank page layout" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    {% stylesheets
    'bundles/backend/global/plugins/font-awesome/css/font-awesome.min.css'
    'bundles/backend/global/plugins/simple-line-icons/simple-line-icons.min.css'
    'bundles/backend/global/plugins/bootstrap/css/bootstrap.min.css'
    'bundles/backend/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
    debug=true
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %} {% endblock %}

    {% stylesheets
    'bundles/backend/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css'
    'bundles/backend/global/plugins/bootstrap-modal/css/bootstrap-modal.css'
    'bundles/backend/global/css/components.min.css'
    'bundles/backend/global/css/plugins.min.css'
    'bundles/backend/layouts/layout4/css/layout.min.css'
    'bundles/backend/layouts/layout4/css/themes/default.min.css'
    'bundles/backend/layouts/layout4/css/custom.min.css'
    filter='cssrewrite'
    debug=true
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- END PAGE LEVEL PLUGINS -->


    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-header-fixed page-sidebar-fixed page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    {% include '@Backend/header.html.twig' %}
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">

    {% include '@Backend/menu.html.twig' %}


    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>{% block pageTitle %} {% endblock %} </h1>
                </div>
                <!-- END PAGE TITLE -->

            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                {% block breadcrumb %} {% endblock %}
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption"> <span class="caption-subject font-dark sbold uppercase">{% block caption %}{% endblock %}</span> </div>
                        </div>

                        <div class="portlet-body">
                            {% block content %} {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->

<div id="modal-update" class="modal fade modal-new" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
        <h4 class="modal-title txt-red">Deleting agent</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger display-none_"><button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.</div>

        <ul class="update-info-detail mb-0">
            <li><span class="text">Code:</span> A464</li>
            <li><span class="text">Agent Name:</span> June Leow</li>
            <li><span class="text">Register Date:</span> 15 Jun 17</li>
        </ul>

        <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Enter reasons why Agent is blocked"></textarea>
        </div>

        <div class="update-info-form-wrap">
            <div class="update-info-form">
                <div class="mb-20"><strong>REASIGNING DOCTORS TO ANOTHER AGENTS</strong></div>
                <div class="form-group">
                    <label for="inputName">Assign <strong>Dr Michael Lee</strong> to:</label>
                    <select class="form-control select2">
                        <option>Select an Agent</option>
                        <option value="agent1">Agent 1</option>
                        <option value="agent2">Agent 2</option>
                        <option value="agent3">Agent 3</option>
                        <option value="agent4">Agent 4</option>
                        <option value="agent5">Agent 5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputName">Assign <strong>Dr Sharon Wu</strong> to:</label>
                    <select class="form-control select2">
                        <option>Select an Agent</option>
                        <option value="agent1">Agent 1</option>
                        <option value="agent2">Agent 2</option>
                        <option value="agent3">Agent 3</option>
                        <option value="agent4">Agent 4</option>
                        <option value="agent5">Agent 5</option>
                    </select>
                </div>

                <div class="form-group mb-0">
                    <label for="inputName">Assign <strong>Dr Matt Whittingham</strong> to:</label>
                    <select class="form-control select2">
                        <option>Select an Agent</option>
                        <option value="agent1">Agent 1</option>
                        <option value="agent2">Agent 2</option>
                        <option value="agent3">Agent 3</option>
                        <option value="agent4">Agent 4</option>
                        <option value="agent5">Agent 5</option>
                    </select>
                </div>
            </div>

            <a href="javascript:void(0);"  data-dismiss="modal" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm">Cancel</a>
            <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase red btn-sm ml-10" data-dismiss="modal">Delete</a>
        </div>
    </div>
</div>

<div id="modal-delete" class="modal fade modal-new" tabindex="-1" data-width="760" data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
        <h4 class="modal-title">Delete</h4>
    </div>
    <div class="modal-body">
        <div class="text-center mt-20">
            <i class="fa fa-exclamation-circle icon-check-lg txt-red"></i>
            <p>Are you sure you want to delete?</p>
            <!--<p class="txt-green-new">1 selected agent</p> -->

            <div>
                <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm ml-10" data-dismiss="modal">Cancel</a>
                <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase red btn-sm ml-10" data-dismiss="modal">Delete</a>
            </div>
        </div>
    </div>
</div>

<div id="modal-view-doctors" class="modal fade modal-new" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
        <h4 class="modal-title">View Doctors</h4>
    </div>
    <div class="modal-body">
        <ul class="update-info-detail mb-0">
            <li><span class="text">Code:</span> A464</li>
            <li><span class="text">Agent Name:</span> June Leow</li>
            <li><span class="text">Register Date:</span> 15 Jun 17</li>
        </ul>

        <div class="scroller pl-0" style="height:280px" data-always-visible="1" data-rail-visible="1" data-rail-color="white" data-handle-color="green">
            <div class="table-scrollable table-scrollable-borderless mt-0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Agent Code</th>
                        <th>Agent Name</th>
                        <th>Doctor Code</th>
                        <th>Doctor Name</th>
                        <th>Registration Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>A327</td>
                        <td>Richar Tjiaman</td>
                        <td>A324</td>
                        <td>June Leow</td>
                        <td>15 Jun 17</td>
                    </tr>

                    <tr>
                        <td>A327</td>
                        <td>Richar Tjiaman</td>
                        <td>A324</td>
                        <td>June Leow</td>
                        <td>15 Jun 17</td>
                    </tr>

                    <tr>
                        <td>A327</td>
                        <td>Richar Tjiaman</td>
                        <td>A324</td>
                        <td>June Leow</td>
                        <td>15 Jun 17</td>
                    </tr>

                    <tr>
                        <td>A327</td>
                        <td>Richar Tjiaman</td>
                        <td>A324</td>
                        <td>June Leow</td>
                        <td>15 Jun 17</td>
                    </tr>

                    <tr>
                        <td>A327</td>
                        <td>Richar Tjiaman</td>
                        <td>A324</td>
                        <td>June Leow</td>
                        <td>15 Jun 17</td>
                    </tr>

                    <tr>
                        <td>A327</td>
                        <td>Richar Tjiaman</td>
                        <td>A324</td>
                        <td>June Leow</td>
                        <td>15 Jun 17</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--[if lt IE 9]>
  {% javascripts
      '@BackendBundle/Resources/public/global/plugins/respond.min.js'
      '@BackendBundle/Resources/public/global/plugins/excanvas.min.js'
      '@BackendBundle/Resources/public/global/plugins/ie8.fix.min.js'

       debug=true
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

<![endif]-->

<!-- BEGIN CORE PLUGINS -->

{% javascripts
    '@BackendBundle/Resources/public/global/plugins/jquery.min.js'
    '@BackendBundle/Resources/public/global/plugins/jquery-validation/js/jquery.validate.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap/js/bootstrap.min.js'
    '@BackendBundle/Resources/public/global/plugins/js.cookie.min.js'
    '@BackendBundle/Resources/public/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-modal/js/bootstrap-modal.js'
    '@BackendBundle/Resources/public/global/scripts/app.min.js'
    '@BackendBundle/Resources/public/global/plugins/select2/js/select2.full.min.js'
    '@BackendBundle/Resources/public/pages/scripts/components-select2.min.js'
    '@BackendBundle/Resources/public/js/vue.js'
    '@BackendBundle/Resources/public/js/custom.js'
debug=true
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<!-- END CORE PLUGINS -->
{% block javascripts %}


{% endblock %}

{% javascripts
'@BackendBundle/Resources/public/layouts/layout4/scripts/layout.min.js'
'@BackendBundle/Resources/public/layouts/layout4/scripts/custom.min.js'
'@BackendBundle/Resources/public/layouts/global/scripts/quick-sidebar.min.js'
'@BackendBundle/Resources/public/layouts/global/scripts/quick-nav.min.js'
'@BackendBundle/Resources/public/js/menu.js'

debug=true
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<!-- END THEME LAYOUT SCRIPTS -->
<script>

</script>
</body>
</html>