{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
{% set curRoute = app.request.get('_route') %}
<input type='hidden' id="current-route-data" value="{{ currentPath }}" />
<!-- BEGIN SIDEBAR -->

<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse" id="lef-menu-admin">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" >
            <menu-item v-for="item in listItems"
                v-bind:item="item"

            >

            </menu-item>


            {#<li class="nav-item start"> <a href="dashboard.html" class="nav-link nav-toggle"> <i class="icon-home"></i> <span class="title">Dashboard</span> <span class="selected"></span> </a> </li>#}

            {#<li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-agent"></i> <span class="title">Booking Tours</span> <span class="arrow open"></span> </a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item active"> <a href="{{ path('tour-index') }}" class="nav-link "> <span class="title">List Booked Tour</span> </a> </li>#}
                    {#<li class="nav-item"> <a href="admin-register-agent.html" class="nav-link "> <span class="title">Book a Tour</span> </a> </li>#}
                {#</ul>#}
            {#</li>#}

            {#<li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-agent"></i> <span class="title">Origin Tours</span> <span class="arrow open"></span> </a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item active"> <a href="{{ path('tour-index') }}" class="nav-link "> <span class="title">List Tour</span> </a> </li>#}
                    {#<li class="nav-item"> <a href="admin-register-agent.html" class="nav-link "> <span class="title">Add Tour</span> </a> </li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-doctor"></i> <span class="title">Origin Transfers</span> <span class="arrow open"></span> </a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item"> <a href="admin-list-doctors.html" class="nav-link "> <span class="title">List Transfers</span> </a> </li>#}
                    {#<li class="nav-item "> <a href="admin-register-doctor.html" class="nav-link "> <span class="title">Add Transfers</span> </a> </li>#}
                {#</ul>#}
            {#</li>#}
            {#<li class="nav-item"> <a href="javascript:;" class="nav-link nav-toggle"> <i class="icon-doctor"></i> <span class="title">Setting</span> <span class="arrow open"></span> </a>#}
                {#<ul class="sub-menu">#}
                    {#<li class="nav-item"> <a href="{{ path('category-index') }}" class="nav-link "> <span class="title">Categories</span> </a> </li>#}
                    {#<li class="nav-item "> <a href="admin-register-doctor.html" class="nav-link "> <span class="title">Destinations</span> </a> </li>#}
                {#</ul>#}
            {#</li>#}

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->