{% extends '@Backend/layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets
    'bundles/backend/global/plugins/datatables/datatables.min.css'
    'bundles/backend/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
    'bundles/backend/global/plugins/select2/css/select2.min.css'
    'bundles/backend/global/plugins/select2/css/select2-bootstrap.min.css'
    'bundles/backend/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
    'bundles/backend/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    'bundles/backend/global/plugins/clockface/css/clockface.css'
    'bundles/backend/global/plugins/ion.rangeslider/css/ion.rangeSlider.css'
    'bundles/backend/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css'
    'bundles/backend/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'
    'bundles/backend/global/plugins/bootstrap-summernote/summernote.css'
    'bundles/backend/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    'bundles/backend/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
    'bundles/backend/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css'
    'bundles/backend/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    'bundles/backend/global/plugins/bootstrap-editable/inputs-ext/address/address.css'
    'bundles/backend/global/plugins/select2/css/select2.min.css'
    'bundles/backend/global/plugins/select2/css/select2-bootstrap.min.css'

    debug=false
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}



{% block javascripts %}
    {% javascripts
    '@BackendBundle/Resources/public/global/plugins/moment.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
    '@BackendBundle/Resources/public/global/plugins/clockface/js/clockface.js'
    '@BackendBundle/Resources/public/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-markdown/lib/markdown.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-summernote/summernote.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
    '@BackendBundle/Resources/public/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'
    '@BackendBundle/Resources/public/global/plugins/moment.min.js'
    '@BackendBundle/Resources/public/global/plugins/jquery.mockjax.js'



    debug=false
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
{% block pageTitle %} List Tours {% endblock %}

 {% block breadcrumb %}
     <li> <a href="index.html">Home</a> <i class="fa fa-circle"></i> </li>
     <li> <span class="active">List Tours</span> </li>
 {% endblock %}

 {% block caption %}List Tours{% endblock %}

{% block content %}{% endblock %}

