{% extends '@Backend/layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets
    'bundles/backend/global/plugins/datatables/datatables.min.css'
    'bundles/backend/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
    'bundles/backend/global/plugins/select2/css/select2.min.css'
    'bundles/backend/global/plugins/select2/css/select2-bootstrap.min.css'
    'bundles/backend/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
    'bundles/backend/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    'bundles/backend/global/plugins/clockface/css/clockface.css'
    'bundles/backend/global/plugins/ion.rangeslider/css/ion.rangeSlider.css'
    'bundles/backend/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css'
    'bundles/backend/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'
    'bundles/backend/global/plugins/bootstrap-summernote/summernote.css'
    'bundles/backend/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    'bundles/backend/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
    'bundles/backend/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css'
    'bundles/backend/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    'bundles/backend/global/plugins/bootstrap-editable/inputs-ext/address/address.css'
    'bundles/backend/global/plugins/select2/css/select2.min.css'
    'bundles/backend/global/plugins/select2/css/select2-bootstrap.min.css'

    debug=false
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}



{% block javascripts %}
    {% javascripts
    '@BackendBundle/Resources/public/js/base.js'
    '@BackendBundle/Resources/public/js/tour_edit.js'
    debug=true
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block title %} Create Category {% endblock %}
{% block pageTitle %} Create Category {% endblock %}

 {% block breadcrumb %}
     <li> <a href="index.html">Home</a> <i class="fa fa-circle"></i> </li>
     <li> <a href="{{ path('category-index') }}">List Category</a> <i class="fa fa-circle"></i> </li>
     <li> <span class="active">Add Category</span> </li>
 {% endblock %}

 {% block caption %}Create Category{% endblock %}

{% block content %}

    <input type="hidden" value="{{ path(ajaxUrl) }}"  id="ajax-url" />

    {{ form_start(form,{'attr' : {'id':'create-tour-form','class' : 'form-horizontal'}}) }}
    <div class="form-wizard">
        <div class="form-body">
            <div class="form-content">

                <div class="form-group mb-grid">
                    <div class="col-md-4">
                        <label>{{ form_label(form.name) }} <span class="required" aria-required="true"> * </span></label>
                        {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}
                    </div>

                </div>

                <div class="form-group mb-grid">
                    <div class="col-md-4">
                        <label>{{ form_label(form.description) }} <span class="required" aria-required="true"> * </span></label>
                        {{ form_widget(form.description,{'attr': {'class': 'form-control','row': 3}}) }}
                    </div>
                </div>

                <div class="form-group mb-grid">
                    <div class="col-md-4">
                        <label><label>{{ form_label(form.category) }} <span class="required" aria-required="true"> * </span></label></label>
                        {{ form_widget(form.category,{'attr': {'class': 'form-control select2'}}) }}
                    </div>
                </div>

            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('category-index') }}" class="btn grey-dark btn-ahalf-circle text-uppercase btn-sm button-back">Cancel</a>
                    <a href="#" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-icon-right btn-sm button-submit">Save</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}


    <div id="modal-update" class="modal fade modal-new" tabindex="-1" data-width="760">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-remove"></i></button>
            <h4 class="modal-title txt-red">Deleting agent</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger display-none_"><button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.</div>

            <ul class="update-info-detail mb-0">
                <li><span class="text">Code:</span> A464</li>
                <li><span class="text">Agent Name:</span> June Leow</li>
                <li><span class="text">Register Date:</span> 15 Jun 17</li>
            </ul>

            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Enter reasons why Agent is blocked"></textarea>
            </div>

            <div class="update-info-form-wrap">
                <div class="update-info-form">
                    <div class="mb-20"><strong>REASIGNING DOCTORS TO ANOTHER AGENTS</strong></div>
                    <div class="form-group">
                        <label for="inputName">Assign <strong>Dr Michael Lee</strong> to:</label>
                        <select class="form-control select2">
                            <option>Select an Agent</option>
                            <option value="agent1">Agent 1</option>
                            <option value="agent2">Agent 2</option>
                            <option value="agent3">Agent 3</option>
                            <option value="agent4">Agent 4</option>
                            <option value="agent5">Agent 5</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputName">Assign <strong>Dr Sharon Wu</strong> to:</label>
                        <select class="form-control select2">
                            <option>Select an Agent</option>
                            <option value="agent1">Agent 1</option>
                            <option value="agent2">Agent 2</option>
                            <option value="agent3">Agent 3</option>
                            <option value="agent4">Agent 4</option>
                            <option value="agent5">Agent 5</option>
                        </select>
                    </div>

                    <div class="form-group mb-0">
                        <label for="inputName">Assign <strong>Dr Matt Whittingham</strong> to:</label>
                        <select class="form-control select2">
                            <option>Select an Agent</option>
                            <option value="agent1">Agent 1</option>
                            <option value="agent2">Agent 2</option>
                            <option value="agent3">Agent 3</option>
                            <option value="agent4">Agent 4</option>
                            <option value="agent5">Agent 5</option>
                        </select>
                    </div>
                </div>

                <a href="javascript:void(0);"  data-dismiss="modal" class="btn btn-ahalf-circle text-uppercase grey-dark btn-sm">Cancel</a>
                <a href="javascript:;" class="btn btn-ahalf-circle text-uppercase red btn-sm ml-10" data-dismiss="modal">Delete</a>
            </div>
        </div>
    </div>

{% endblock %}

