{% extends '@Backend/layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets
    'bundles/backend/global/plugins/datatables/datatables.min.css'
    'bundles/backend/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
    'bundles/backend/global/plugins/select2/css/select2.min.css'
    'bundles/backend/global/plugins/select2/css/select2-bootstrap.min.css'
    'bundles/backend/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
    'bundles/backend/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    'bundles/backend/global/plugins/clockface/css/clockface.css'
    'bundles/backend/global/plugins/ion.rangeslider/css/ion.rangeSlider.css'
    'bundles/backend/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css'
    'bundles/backend/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css'
    'bundles/backend/global/plugins/bootstrap-summernote/summernote.css'
    'bundles/backend/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    'bundles/backend/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'
    'bundles/backend/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
    'bundles/backend/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css'
    'bundles/backend/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css'
    'bundles/backend/global/plugins/bootstrap-editable/inputs-ext/address/address.css'
    'bundles/backend/global/plugins/select2/css/select2.min.css'
    'bundles/backend/global/plugins/select2/css/select2-bootstrap.min.css'

    debug=false
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}



{% block javascripts %}
    {% javascripts
        '@BackendBundle/Resources/public/js/base.js'
        '@BackendBundle/Resources/public/js/tour.js'


    debug=true
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
{% block pageTitle %} List Tours {% endblock %}

 {% block breadcrumb %}
     <li> <a href="index.html">Home</a> <i class="fa fa-circle"></i> </li>
     <li> <span class="active">List Tours</span> </li>
 {% endblock %}

 {% block caption %}List Tours{% endblock %}

{% block content %}

    <input type="hidden" value="{{ path(ajaxUrl) }}"  id="ajax-url" />
    <input type="hidden" value="{{ path('update-tour-status') }}" id="update-tour-status-url" />

    <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
        <div class="alert alert-danger display-none"><button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.</div>
        <div class="row show-grid mb-grid">
            <div class="col-lg-4 col-md-8">
                <div id="sample_1_filter">
                    <div class="input-icon right"> <i class="icon-magnifier"></i>
                        <input type="text" class="form-control" id="table-search-data" placeholder="Search Tour Name / Code">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-4">
                <div class="text-right" id="sample_1_length">
                    <label>
                        <select id="table-length" name="sample_1_length" aria-controls="sample_1" class="form-control input-sm input-xsmall input-inline">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        entries
                    </label>
                </div>
            </div>
        </div>

        <div class="row show-grid module-filter">
            <div class="col-lg-9">
                <div class="mod-filter">
                    <span class="filter-label">Filter by Status:</span>
                    <div class="entry filter-changing primary">
                        <a href="javascript:void(0);"  class="active"  data="1">Active</a>
                        <a href="javascript:void(0);"  data="2">Deactivated</a>
                        <a href="javascript:void(0);"  data="3">Deleted</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 text-right">
                <a href="admin-register-agent.html" class="btn btn-ahalf-circle text-uppercase green-seagreen btn-outline btn-sm btn-icon-right">Add New Tour <i class="fa fa-plus"></i> </a>
            </div>
        </div>

        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info" style="width: 1562px;">
                <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="0"aria-sort="ascending" aria-label=" Dr Code : activate to sort column descending">Code</th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="1" aria-label=" Dr Name : activate to sort column ascending">Name</th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="2" aria-label=" Register Date : activate to sort column ascending">Register Date</th>
                    <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" data-column-index="4" aria-label=" Status : activate to sort column ascending"> Status </th>
                    <th> Action </th>
                </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="dataTables_info" id="table-info" role="status" aria-live="polite"></div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_number" id="sample_1_paginate">
                    <ul class="pagination" style="visibility: visible;" id="table-paging">
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

